.bold {
  font-weight: bold;
}

.beautiful {
  color: yellowgreen;
  background-color: black;
}

.micro {
  font-size: 20px;
  white-space: nowrap;
}

button {
  background-color: red;
  border: #000 1px solid;
  border-radius: 4px;
  padding: 10px;
  color: #fff;
}

button.fat {
  background-color: blue;
  color: red;
  font-size: 100px;
}

ul#menu { 
  list-style-type: none;
  clear: both;
  width: 100%;
  float: left;
}

ul#menu li {
  float: left;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
}

ul#menu li.active a {
  color: black;
}

ul#menu li:hover a {
  color: red;
}

button {
  float: left;
}

.wiki-results {
  float: left;
  width: 100%;
}

.wiki-results ul {
  list-style-type: none;
  margin: 0;
}